.whatsapp__custom_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  font-size: 4rem;
  transition: 0.5s;
  text-decoration: none;
  z-index: 5;
}

.whatsapp__custom_btn:hover {
  opacity: 0.5;
}

.whatsapp__custom_btn i {
  color: white;
}

/*WHATS APP POPUP START*/
@keyframes show__whatsapp_popup_animation {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(50px);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.1) translateY(-10px);
  }
  70% {
    opacity: 1;
    transform: scale(0.95) translateY(5px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.whatsapp__popup {
  position: fixed;
  background-color: #f1f1f1;
  padding: 40px;
  bottom: 100px;
  left: 20px;
  z-index: 5;
  width: 300px;
  display: flex;
  opacity: 0;
  border-radius: 80px 10px 10px 10px;
  animation: 0.5s show__whatsapp_popup_animation forwards ease-out;
  animation-delay: 5s;
}

.whatsapp__popup h4 {
  font-size: var(--font-size-2xl);
  font-family: "Lato-Thin";
  text-align: center;
}

.whatsapp__popup i {
  color: var(--text_color);
  font-size: var(--font-size-xl);
}

.whatsapp__custom_btn i {
  color: white;
  font-size: var(--font-size-2xl);
}

.whatsapp__popup .custom__popup_close {
  background: none;
  border: none;
  color: #fff;
  transition: 0.5s;
  position: absolute;
  top: 20px;
  right: 20px;
}
