.mf_single_product_title {
  font-family: "Lato-Bold";
  font-size: var(--font-size-2xl);
  color: var(--primary_color);
}

.mf_single_product_content {
  color: var(--text_color);
}

.mf_single_product_price {
  font-family: "Lato-Bold";
  font-size: var(--font-size-xl);
  color: var(--primary_color);
}

.screen-reader-text {
  clip-path: none !important;
  overflow: visible !important;
  position: relative !important;
  width: fit-content !important;
  top: 0 !important;
}

.quantity {
  margin: 12px 0;
}

.quantity input {
  border: 1px solid var(--primary_color_light) !important;
  margin-left: 12px;
}

.single_add_to_cart_button {
  border-radius: 50px !important;
  padding: 8px var(--font-size-xl);
  background: var(--primary_color);
  background-color: var(--primary_color) !important;
  border-color: var(--primary_color);
  transition: 0.5s;
}

.single_add_to_cart_button:hover {
  opacity: 0.5;
}

.mf_single_product_section img {
  border-radius: var(--default-input-border-radius);
  overflow: hidden;
  object-fit: contain;
  width: 100%;
}

.mf_single_product_carousel .splide__arrow {
  background: none;
}

.mf_single_product_carousel .splide__arrow svg {
  fill: var(--primary_color);
}

.mf_single_product_cart .variations label {
  display: none;
}

.mf_single_product_cart .reset_variations {
  text-decoration: none;
  padding: 6px 12px;
  color: var(--text_color);
  background-color: var(--primary_color_light);
  border-radius: 50px;
  margin-left: 12px;
}

.reset_variations_alert {
  color: red;
  font-family: "Lato-Regular";
  margin-bottom: 60px;
}
